body {
  background-color: aqua;
}

#canvas {
  width: 100%;
  height: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
}

.grid-item {
  background-color: rgba(67, 160, 95, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* Below is used to make sure each grid-item fits into the container and no space is wasted */
  object-fit: fill;
  height: 100%;
  width: 100%;
}
