html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(100, 100, 100);
}

#canvas {
  width: 500px;
  height: 500px;
}

#input {
  height: 16%;
  position: relative;
  bottom: 2%;
}

#warning {
  color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
}

.grid-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* Below is used to make sure each grid-item fits into the container and no space is wasted */
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.grid-item-hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* Below is used to make sure each grid-item fits into the container and no space is wasted */
  object-fit: fill;
  height: 100%;
  width: 100%;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
